.your-questions-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.your-questions-title h1 {
    width: auto;
    margin-right: 1rem;
    font-size: 3rem;
}
.individual-question-div {
    box-shadow: 0 0 0.5em -0.2em var(--shadow-color);
    padding: 1rem;
    width: calc(100% - 2rem);
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.individual-question-div a {
    text-decoration: underline;
    color: var(--content-color);
}
.individual-question-div h2 {
    margin: 0px;
    margin: 0.25rem 0rem;
    font-weight: 500;
}
.all-questions-container {
    height: calc(100% - 4rem);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.your-questions-container {
    width: calc(60% - 2rem);
    margin-right: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.suggested-actions-container {
    width: 30%;
    margin-right: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.entire-dashboard {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 8rem);
}
.suggested-questions-container {
    box-shadow: 0 0 0.5em -0.2em var(--shadow-color);
    border-radius: 1rem;
    padding: 1rem;
}
.each-suggested-question {
    background-color: var(--accent-background);
    width: calc(100% - 1rem);
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
}
.each-suggested-question p {
    margin: 0.5rem 0rem;
    font-size: 1.25rem;
}
.each-suggested-question a {
    text-align: right;
    color: var(--content-color);
    display: block;
    width: calc(100% - 0.5rem);
    padding: 0.25rem;
    margin-right: 0.25rem;
}
.each-suggested-question-tag {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.each-suggested-question-tag p {
    width: fit-content;
    background-color: var(--accent-color);
    padding: 0.4rem;
    border-radius: 1rem;
    font-size: initial;
    box-shadow: 0 0 0.5em -0.2em var(--shadow-color);
}
.random-button-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
