@media (prefers-color-scheme: light) {
    html {
        --background-color: white;
        --accent-background: #f5f5f5;
        --content-color: black;
        --shadow-color: gray;
        --box-shadow: 0 0 0.5em -0.2em var(--shadow-color);
    }
}

@media (prefers-color-scheme: dark) {
    html {
        --background-color: #262626;
        --accent-background: black;
        --content-color: white;
        --box-shadow: 0 0 0.5em -0.2em var(--shadow-color);
    }
}
html {
    scroll-behavior: smooth;
    --accent-color: rgb(242, 199, 59);
    --transparent-accent-color: rgba(242, 199, 59, 0.5);

    --border-radius: 0.5em;
    margin: 0%;

    background-color: var(--background-color);
}
a {
    text-decoration: none;
}
body {
    background-color: var(--background-color);
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: var(--content-color);
    text-decoration: none;
}
textarea {
    font-family: "Roboto", sans-serif;
}
